X-Company/X-Company.View/ReportItemSchemas.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" id="ReportItemSchemas" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="Product" nillable="true" type="Product" /><xs:complexType name="Product"><xs:complexContent mixed="false"><xs:extension base="BaseEntity"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" /><xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" /><xs:element minOccurs="1" maxOccurs="1" name="Price" type="xs:float" /><xs:element minOccurs="1" maxOccurs="1" name="InStock" type="xs:int" /></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="BaseEntity" abstract="true"><xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" /></xs:sequence></xs:complexType><xs:element name="Client" nillable="true" type="Client" /><xs:complexType name="Client"><xs:complexContent mixed="false"><xs:extension base="BaseEntity"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" /><xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" /><xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" /><xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" /></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="Sale" nillable="true" type="Sale" /><xs:complexType name="Sale"><xs:complexContent mixed="false"><xs:extension base="BaseEntity"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Product" type="Product" /><xs:element minOccurs="0" maxOccurs="1" name="Client" type="Client" /><xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:int" /></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:schema>